@page "/listingoverview"
@using RealEstateListingPlatform.App.Contracts
@using RealEstateListingPlatform.App.Services.Responses
<head>
    <link href="css/app.css"/>
    <link href="/css/editproperty.css" rel="stylesheet" />
</head>


<div class="title-container">
    <h3 class="mb-4 text-center">🏷️Listing Overview</h3>
</div>

@if (listingsResponse?.Success == true && listingsResponse.Listings.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var listing in listingsResponse.Listings)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 shadow-sm selectable-card" @onclick="() => OnListingClick(listing.ListingId)">
                        @if (listing.Photos.Any())
                        {
                            <img src="@listing.Photos.FirstOrDefault()" class="card-img-top" alt="Listing Image" style="height: 200px; object-fit: cover;">
                        }
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@listing.Title</h5>
                            <p class="card-text text-secondary">@TruncateDescription(listing.Description,90)</p>
                            <p class="card-text mt-auto">
                                <span class="text-dark">@listing.Price.Value @listing.Price.Currency</span>
                                <span class="badge @(listing.Negotiable ? "bg-success" : "bg-danger")">@("Negotiable")</span>
                                <span class="badge @(listing.IsRent ? "bg-success" : "bg-info")">@(listing.IsRent ? "Rent" : "Sale")</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Updated @listing.DateUpdated.ToString("yyyy-MM-dd HH:mm")</small>
                        </div>
                    </div>
                </div>
            }
        </div>
        <Pager TotalCount="@listingsResponse.TotalCount" PageSize="pageSize" OnPage="LoadPage" />
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= TotalPages(); i++)
            {
                var pageNr = i;
                <li class="page-item @(pageNr == currentPage ? "active" : "")">
                    <button class="page-link" @onclick="() => LoadPage(pageNr)">@pageNr</button>
                </li>
            }
        </ul>
    </nav>
}
else
{
    @* <div class="alert alert-warning" role="alert"> *@
    @*     No listings available. *@
    @* </div> *@
    <HxSpinner Color="ThemeColor.Primary" />
}
@code {

    [Inject]
    public IListingDataService ListingDataService { get; set; }
    
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    [Parameter]
    public ApiResponseListing listingsResponse { get; set; }

    
    private int currentPage = 1;
    private int pageSize = 9; // Set your default page size

    [Parameter]
    public EventCallback<string> OnListingSelected { get; set; }

    string error { get; set; }

    private int TotalPages() => (int)Math.Ceiling((double)listingsResponse.TotalCount / pageSize);

    private void OnListingClick(string listingId)
    {
        OnListingSelected.InvokeAsync(listingId);
        ViewListing(listingId);
    }

    private async Task LoadPage(int pageNumber)
    {
        Console.WriteLine("Loading page {pageNumber}");
        currentPage = pageNumber;
        try
        {
            listingsResponse = await ListingDataService.GetPagedListingsAsync(pageNumber, pageSize);
            for(int i = 0; i < listingsResponse.Listings.Count; i++)
            {
                Console.WriteLine(listingsResponse.Listings[i].IsRent);
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadPage(currentPage);
    }
    private string TruncateDescription(string description, int maxLength)
    {
        if (string.IsNullOrEmpty(description)) return description;
        return description.Length <= maxLength ? description : description.Substring(0, maxLength) + "...";
    }

    private void ViewListing(string listing)
    {
        NavigationManager.NavigateTo($"/viewlisting/{listing}");
    }

}